launcher/client/lib/
launcher/client/temp/
launcher/client/bin/
launcher/client/release/*.exe
wz_engine/Release/
wz_engine/Debug/
wz_engine/ipch/
wz_client/Release/
wz_client/Debug/
wz_client/ipch/
zDataServer/Release/
zDataServer/Debug/
zDataServer/ipch/
zGameServer/Release/
zGameServer/Debug/
zGameServer/ipch/
zGameServer/GameServer/Release/
zGameServer/GameServer/Debug/
zGameServer/GameServer/ipch/
zGameServer/SimpleModulus/Release/
zGameServer/SimpleModulus/Debug/
zGameServer/SimpleModulus/ipch/
zGameServer/GGSvr/Release/
zGameServer/GGSvr/Debug/
zGameServer/GGSvr/ipch/

*.h.bak
*.cpp.bak
*.bak 
*.sdf
*.suo
*.user